{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block body %}

<div id="main">
    <video id="video"></video>
    <canvas id="output"></canvas>
</div>

<div class="row">
    <p id="info">
    </p>

    <p id="fps">
    </p>

    <p id="data">
    </p>

</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
<script src="{{ url_for('static', filename = 'js/webcam.js') }}" type="text/javascript"></script>
<script>
    bind();
</script>
{% endblock %}